!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet_videojs', href='/stylesheets/video-js.css')
    script(src="/javascriptsi/video.js")
  body!= body
