!!!
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='http://vjs.zencdn.net/4.3.0/video-js.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://vjs.zencdn.net/4.3.0/video.js")
  body!= body
